td.dt-control {
    text-align: center;
    cursor: pointer;
}

td.dt-control:before {
    display: inline-block;
    box-sizing: border-box;
    content: "";
    border: none !important;
    background-color: transparent !important;
}

tr.dt-hasChild td.dt-control:before {
    border: none;
    content: "▼" !important;
    text-indent: -3px;
}