.target > div, .actual > div{
    padding: 10px;
}

.target > div > div, .actual > div > div{
    background-color: #0dcaf0;
    padding: 5px;
    height: 70px;
}

.actual > div > div {
    background-color: #6e7881;
    color: aliceblue;
}

.longDesc {
    width: 200px; 
    overflow: scroll; 
    display: block;
}

.statusbar {
    overflow: scroll; 
    flex-wrap: nowrap; 
}

.list-group-item {
    min-height: 70px;
}

.follow-up {
    padding: 60px 0 60px 0;
}

.title {
    display: inline-flex;
    align-items: flex-start;
}

.dot_True {
    position: absolute;
    left: 2px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
}

.addedContent {
    height: 50px;
}

.addedContent div {
    word-wrap: break-word;
    overflow: scroll;
    max-width: 250px;
    height: 50px;
    text-align: left;
}

.contractorsList {
    width: 250px;
    text-align: center;
    padding: 8px;
}