.lpx-logo-container {
    width: 50px;
    padding: 20px 0 20px 20px;
}

#lpx-wrapper.hover-trigger .lpx-sidebar-container:not(:hover) .lpx-nav {
    min-width: 50px;
}

#lpx-wrapper.hover-trigger .lpx-sidebar-container:not(:hover) {
    min-width: 50px;
    max-width: 50px;
    overflow: hidden;
}

.hover-trigger .lpx-sidebar-container:not(:hover) .lpx-logo-container {
    width: 50px;
    padding: 20px 0 20px 20px;
}

#lpx-wrapper.hover-trigger .lpx-content-container {
    margin-left: 50px;
}

.lpx-content-container .lpx-content {
    padding: 1em;
    margin: 0 auto;
}

table, thead {
    vertical-align: middle !important;
}

.container {
    padding: 0;
    margin: 0;
}

table.dataTable tbody tr td {
    border-color: #e7e9ec;
    padding: 0.5em;
}

table.dataTable thead th {
    text-align: center;
}

table.dataTable tbody td {
    font-size: 12px;
}

table.dataTable tbody tr > td:nth-child(4),
table.dataTable tbody tr > td:nth-child(5){
    text-align: left;
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 992px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1200px;
    }
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}

.left {
    text-align: left;
}

.checkbox {
    display: none;
}

.batch {
    display: none;
}

#calendar {
    width: 100%;
}

.container {
    max-width: 100%;
}

.form, .hidden {
    display: none;
    text-align: left;
}

.dataTables_filter label {
    padding-right: 5px;
}

.p-5 {
    padding: 0 !important;
}

a {
    color: var(--bs-table-color);;
}

.non-selection {
    user-select: none;
}

.btn-primary {
    --bs-btn-bg: rgb(44 137 206) !important;
    --bs-btn-border-color: rgb(44 137 206) !important;
}

.fa-trash {
    margin-right: 0 !important;
}

.progress {
    width: 100%;
    background-color: rgb(235,200,10);
    border-radius: 0;
}

.progress {
    --bs-progress-bar-bg: rgb(44 137 206) !important;
}

.progress p {
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: rgb(44 137 206) !important;
}

.bar {
    width: 1%;
    height: 30px;
    background-color: blueviolet;
}

.form-select {
    font-size: xx-small;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    appearance: auto;
    background: none;
}

.form-control.input {
    width: 150px !important;
}

.padding-left-10 {
    padding-left: 10px;
}

.filter-item {
    margin-left: 0.5em;
    display: inline-block;
    width: auto !important;
    padding-left: 10px;
}

#TabIdContent textarea {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    padding: 5px;
    font-size: x-small;
}

#TabIdContent .btn-sm, .new-entry .btn-sm {
}

#TabIdContent .btn-sm.groupDownloadButton {
    width: 130px;
}

#TabIdContent .btn-sm.downloadButton {
    width: 90px;
}

.table.table-striped > tbody > tr:nth-of-type(even) > td {
    background-color: inherit;
    color: white;
}

table.dataTable tbody tr.white {
    background-color: #d8d8d8;
}

table.dataTable tbody tr.red {
    background-color: #FA897B;
}

table.dataTable tbody tr.green {
    background-color: #D0E6A5;
}

table.dataTable tbody tr.orange {
    background-color: #FFDD94;
}

table.dataTable tbody tr.blue {
    background-color: #86E3CE;
}

table.dataTable tbody tr.purple {
    background-color: #CCABD8;
}

.company {
    text-align: right;
}

.company img {
    width: 5%;
}