.view button{
    background-color: transparent;
    border: none;
    color: blue;
}

.checkbox {
    display: table-cell;
}

td {
    text-align: center !important;
}

a.invoice {
    text-decoration: none;
    color: var(--bs-link-color);
}

.select-all {
    text-decoration: underline;
    color: var(--bs-link-color);
    cursor: pointer;
}

.date-picker {
    width: 150px !important;
}