.dot_True {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 15px;
    border-radius: 50%;
    color: red;
    user-select: none;
}

.freeze_2 {
    left: 84px;
}